/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


.job-sheet-list-container {
    -webkit-box-shadow: 2px 2px 16px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 2px 2px 16px -2px rgba(0, 0, 0, 0.61);
    box-shadow: 2px 2px 16px -2px rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    padding: 50px 40px;
    margin-bottom: 100px;
}

.job-sheet-li {
    -webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px 20px;
    margin-top: 10px !important;
    cursor: pointer !important;
    height: 50px;
}

.job-sheet-li:hover {
    background-color: rgba(0, 150, 255, 0.08);
}

.job-number {
    font-weight: 600;
    left: 50px;
    position: absolute;
}

.job-total {
    text-align: right;
}

.flip3D {
    z-index: 100 !important;
}

.flip3D > .front{
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    backface-visibility: hidden;
    transition: transform .25s linear 0s;
}
.flip3D > .back{
    position: absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    backface-visibility: hidden;
    transition: transform .3s linear 0s;
}
.flip3D:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
}

.circle-sm {
    width: 35px;
    height: 35px;
    margin-top: -7px;
    margin-left: -30px;
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 0px;
    cursor: pointer !important;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.circle-md {
    width: 60px;
    height: 60px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 50%;
    padding-top: 9px;
    padding-left: 9px;
    cursor: pointer !important;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.15);
    opacity: 0.9;
}



.circle-md:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.15);
    opacity: 1;

}
